@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Antique Soft', serif;
}

body{
    background-color: #d6d0d0;
    padding: 10px;
}

.wrapper{
    margin: 10px auto;
    max-width: 1100px;
}

.wrapper .heading{
    margin: 30px;
    text-align: center;
}

.wrapper nav{
    display: flex;
    justify-content: center;
}

nav .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}

nav .items .item{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #f9004d;
    border: 2px solid #f9004d;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav .items .active,

nav .items .item:hover{
    color: #fff;
    background: #f9004d;
}

